certifi==2017.11.5
chardet==3.0.4
cycler==0.10.0
dj-database-url==0.4.2
Django==1.11.7
gunicorn==19.7.1
idna==2.6
matplotlib==2.1.0
numpy==1.13.3
pandas==0.20.2
psycopg2==2.7.3.2
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
scikit-learn==0.19.1
scipy==1.0.0
seaborn==0.8.1
six==1.11.0
sklearn==0.0
urllib3==1.22
