{% extends "base_bf.html" %}

{% block head_title %} Brain Food || {{ block.super }}{% endblock %}

{% block content %}
    {% block bf_title %}<h1><small>Day's </small>Quote</h1>{% endblock %}
    {% block bf_title_sub %}Words that touch your soul{% endblock %}

    {% block bf_content %}

            {% if todays_quote %}
                <blockquote class="blockquote">
                    <p class="mb-0">{{ todays_quote.quote }}</p>
                    <footer class="blockquote-footer">{{ todays_quote.name }}</footer>

                </blockquote>
            {% else %}
                <h1><a href='{% url "brainfood:quotes_create" %}'>Add your first quote</a></h1>
            {% endif %}

    {% endblock %}
{% endblock %}