{% extends "base_bf.html" %}

{% block head_title %} Brain Food || {{ block.super }}{% endblock %}

{% block content %}
    {% block bf_title %}<h1><small>All </small>Quotes</h1>{% endblock %}
    {% block bf_title_sub %}Your collection of wise words{% endblock %}

    {% block bf_content %}
            {% for quote in object_list %}
                <blockquote class="blockquote">
                    <p class="mb-0">{{ quote.quote }}</p>
                    <footer class="blockquote-footer">{{ quote.name }}</footer>
                    <a href="{{ quote.get_absolute_url }}">edit</a>
                </blockquote>
            {% empty %}
                <h1><a href='{% url "brainfood:quotes_create" %}'>Add your first quote</a></h1>
            {% endfor %}
    {% endblock %}
{% endblock %}