{#navbar-default#}
<nav class="navbar navbar-inverse ">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">Peahead</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'selfdata:main' %}">Self Data </a></li>
                <li><a href="{% url 'brainfood:main' %}">Brain Food </a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'about' %}">About </a></li>
                <li><a href="{% url 'contact' %}">Contact </a></li>
            </ul>
        </div>
    </div>
</nav>