<ul class="nav nav-tabs">
    <li role="presentation" class=""><a href="{% url 'brainfood:quotes_main' %}">Quotes </a></li>
    <li role="presentation"><a href="{% url 'brainfood:quotes_today' %}">Today's </a></li>
    <li role="presentation"><a href="{% url 'brainfood:quotes_random' %}">Random </a></li>
    <li role="presentation"><a href="{% url 'brainfood:quotes_create' %}">Create </a></li>
    <li role="presentation"><a href="{% url 'brainfood:trustTP_main' %}">(Trust The Process) </a></li>
</ul>