{% extends "base.html" %}
{% block head_title %}About || {{ block.super }} {% endblock %}

{% block content %}
<h1>About</h1>
    <div>
        <br>
        Data Dash Board is a personal dashboard where all my personal data are collected from various sources. <br>
        These sources range from apps on the phone, fitbit, pedometer, excel, CSV files. <br> <br>
        They're collected and processed using python module pandas. Data are clean up to be uniform format suitable for database and depending on data average per day is calculated and stored. <br>
        Further more taking day a unit django ORM is used get data user chooses. For example Day, week, month, year etc.
    </div>

{#    <p class="text-center">Copyright &copy; 2017 by Jin Park. All rights reserved.</p>#}

{% endblock %}