<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{#    <meta name="description" content="">#}
{#    <meta name="author" content="">#}
    <title>{% block head_title %} Peahead {% endblock head_title %}</title>
    {% include 'snippets/css.html' %}


    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">

{#    NOT GOOD #}
{#    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">#}
{#    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">#}





    {#        <style>#}
{#            h1 {#}
{#                color: maroon;#}
{#                margin-left: 40px;#}
{#            }#}
{#        </style>#}


</head>
<body>


<div class="container">
    <br>
    {% include 'snippets/nav.html' %}

    {% block nav_2 %}
    {% endblock %}

    <div class="main_content">
        {% block content %}
        {% endblock content %}
    </div>
<BR>

</div>

{% include 'snippets/js.html' %}

</body>
</html>