{% extends "base.html" %}
{% block head_title %}Contact || {{ block.super }}{% endblock %}

{% block content %}
<h1>Contact me on</h1>
    <br>
    <div class="row">
        <div class="col-sm-2">
            <a href="https://www.facebook.com/jinnotonik"><i class="fa fa-facebook-square fa-5x"></i></a>
        </div>
        <div class="col-sm-2">
            <a href="https://www.instagram.com/jinnotonik/"><i class="fa fa-instagram fa-5x"></i></a>
        </div>
        <div class="col-sm-2">
            <a href="mailto:jinpark.han+peahead@gmail.com"><i class="fa fa-envelope fa-5x"></i></a>
        </div>
    </div>
    <br><br>

<h1>My other links</h1>
    <a href="https://thisdevsland.herokuapp.com/">This Devs Land</a> - My landing Page, collection of my projects. <br>
    <a href="http://danceconnect.herokuapp.com/">Dance Connect</a> - Site for dancers to find events and other dancers. <br>
    <a href="https://thisdevsmind.herokuapp.com/">This Devs Mind</a> - Personal blog built with Flask. <br><br>

    <a href="https://github.com/k-oneGene">Github</a> - Link for source code to all my projects. <br>


{% endblock %}