{% extends "base.html" %}
{% load static %}

{% block head_title %} {{ block.super }}{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Welcome to Data Dash Board. </h1>
        <img src="{% static 'image/logo/pigeon1.svg' %}" alt="Bird" width="350" height="350">
        <h2>Keeping track of health stats</h2>
        <a href='{% url "selfdata:dashboard" %}'>
            <button type="button" class="btn btn-primary text-center" style="font-size: 25px">Lets go <i class="glyphicon glyphicon-chevron-right" style="vertical-align: text-top;"></i></button>
        </a>
    </div>
{% endblock %}