{% extends "base_selfdata_dashboard.html" %}

{% block dash_title %}Months Between{% endblock %}
{% block dash_title_sub %}<h6>Your month stats</h6>{% endblock %}

{% block dash_content %}

    <div class="row">
        <div class="col-sm-6 ">
            {% if q_month is None %}
                <h3><strong>Last months...</strong></h3>
            {% else %}
                <h3><strong>{{ q_month }}</strong> <small>to</small> <strong>{{ q_month_end }}</strong></h3>
            {% endif %}
        </div>
    </div>

    {% include "snippets/dashboard_widgets.html" %}
{% endblock %}

{% block dash_search %}
    <div class="row">
        <div class="col-sm-12">
            <div class="pull-right">
                <form class="form-inline" method="GET">
                    <input type="month" class="form-control" name="q_month" value="{{ q_month }}" required> -
                    <input type="month" class="form-control" name="q_month_end" value="{{ q_month_end }}" required>
                    <button class="btn btn-primary btn-primary" type="submit">Find</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}