{% extends "base_selfdata_dashboard.html" %}

{% block dash_title %}Month{% endblock %}
{% block dash_title_sub %}<h6>Your month stats</h6>{% endblock %}

{% block dash_content %}

    <div class="row">
        <div class="col-sm-6 ">
            {% if q_month is None %}
                <h3><strong>Month</strong></h3>
            {% else %}
                <h3><strong>{{ q_month }}</strong></h3>
            {% endif %}
        </div>
    </div>

    {% include "snippets/dashboard_widgets.html" %}
{% endblock %}

{% block dash_search %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-6">
            <div class="pull-right">
                <form class="form-inline" method="GET">
                    <input type="month" class="form-control" name="q_month" value="{{ q_month }}" required>
                    <button class="btn" type="submit">Find</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}