{% extends "base_sd_graph.html" %}
{% load static %}

{% block head_title %} Self Data || {{ block.super }}{% endblock %}

{% block content %}

    <h1> <small>My</small> {{ slug|title }} </h1>

{#    <div class="row">#}
{#        <div class="col-sm-8 col-lg-8">#}
{#            <img src="{% static sd_type %}" class="img-responsive img-rounded graphs" alt="{{ sd_type }}"/>#}
{#        </div>#}
{#    </div>#}
{#    <br/>#}

    <div class="row">
        <div class="col-sm-12 col-lg-12">
            {% include 'snippets/graph_chartjs.html' %}
        </div>
    </div>
    <br/>

    <div class="row">
        <div class="col-sm-8 col-lg-7">
            <div class="pull-right">
                <form class="form-inline" method="GET">
                    <input type="date" class="form-control" name="q_start" value="{{ q_start }}" required min="2017-02-21" max="2017-11-21"> -
                    <input type="date" class="form-control" name="q_end" value="{{ q_end }}" required min="2017-02-21" max="2017-11-21">
                    <button class="btn btn-primary btn-primary" type="submit">Draw</button>
                </form>
            </div>
        </div>
    </div>



{% endblock %}