{% extends "base_selfdata_dashboard.html" %}

{% block dash_title %}Month{% endblock %}
{% block dash_title_sub %}<h6>Your month stats</h6>{% endblock %}

{% block dash_content %}

    <div class="row">
        <div class="col-sm-6 text-center">
            {% if q_week is None %}
                <h3><strong>This Month so far...</strong></h3>
            {% else %}
                <h3>Month <br> <strong>{{ week }}</strong> <small>to</small> <strong>{{ week_end }}</strong></h3>
            {% endif %}
        </div>
    </div>

    {% include "snippets/dashboard_weekly.html" %}
{% endblock %}

{% block dash_search %}
    <div class="row">
        <div class="col-sm-6">
            <div class="text-center">
                <form class="form" method="GET">
                    <input type="month" name="q_month" value="{{ q_month }}" required>
                    <button class="btn" type="submit">Find</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="text-center">
                <p><small>{{ week_num_now }}</small></p>
            </div>
        </div>
    </div>
{% endblock %}