{% extends "base_selfdata_dashboard.html" %}

{% block dash_title %}Weeks Between{% endblock %}
{% block dash_title_sub %}<h4>Your weeks stats</h4>{% endblock %}

{% block dash_content %}

    <div class="row">
        <div class="col-sm-6 ">
            {% if q_week is None %}
                <h3><strong>This week so far...</strong></h3>
            {% else %}
                <h3>Week <br> <strong>{{ week }}</strong> <small>to</small> <strong>{{ week_end }}</strong></h3>
            {% endif %}
        </div>
    </div>

    {% include "snippets/dashboard_widgets.html" %}
{% endblock %}

{% block dash_search %}
    <div class="row">
        <div class="col-sm-12">
            <div class="pull-right">
                <form class="form-inline" method="GET">
                    Between
                    <div class="form-group">
                        <input type="week" class="form-control" name="q_week" value="{{ q_week }}" required> -
                        <input type="week" class="form-control" name="q_week_end" value="{{ q_week_end }}" required>
                        <button class="btn btn-primary" type="submit">Find</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-6">
            <div class="pull-right">
                <p><small>Today's week: {{ week_num_now }}</small></p>
            </div>
        </div>
    </div>
{% endblock %}