{% extends "base_sd.html" %}
{% load static %}

{% block head_title %} Self Data || {{ block.super }}{% endblock %}

{% block content %}
    <h1><small>My</small> Week</h1>
    <h6>Your stats in a glance</h6>

    <div class="row">
        <div class="col-sm-6 text-center">
            {% if q_week is None %}
                <h3><strong>This week so far...</strong></h3>
            {% else %}
                <h3><strong>{{ week }}</strong></h3>
            {% endif %}
        </div>
    </div>

    {% include "snippets/dashboard_weekly.html" %}

    <div class="row">
        <div class="col-sm-6">
            <div class="text-center">
                <form class="form" method="GET">
                    <input type="week" name="q_week" value="{{ q_week }}">
                    <button class="btn" type="submit">Find</button>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="text-center">
                <p><small>{{ week_num_now }}</small></p>
            </div>
        </div>
    </div>

{% endblock %}