{% extends "base_selfdata_dashboard.html" %}

{% block dash_title %}Dashboard{% endblock %}
{% block dash_title_sub %}<h4>Your stats in a glance</h4>{% endblock %}

{% block dash_content %}

    <div class="row">
        <div class="col-sm-3">
            {% if q_date is None %}
                <h3><strong>Today</strong></h3>
            {% else %}
                <h3><strong>{{ q_date }}</strong></h3>
            {% endif %}
        </div>
    </div>

    <div class="row ">
        <div class="col-sm-4 col-xs-6 text-center ">
            <div class="thumbnail dash_box dash_red" >
                <div class="header">Pomodoro</div>
                <div class="dash_text" >{{ pomodoro }}</div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6 text-center">
            <div class="thumbnail dash_box dash_blue">
                <div class="header">Previous Bed time</div>
                <div class="dash_text">{{ slept_time }}</div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6 text-center">
            <div class="thumbnail dash_box dash_purple">
                <div class="header">Mood</div>
                <div class="dash_text">{{ mood }}</div>
            </div>
        </div>
{#    </div>#}
{##}
{#    <div class="row ">#}
        <div class="col-sm-4 col-xs-6 text-center ">
            <div class="thumbnail dash_box dash_greenLight">
                <div class="header">Weight</div>
                <div class="dash_text">{{ weight }} <small>kg</small></div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6 text-center">
            <div class="thumbnail dash_box dash_orange">
                <div class="header">Previous Sleep</div>
                <div class="dash_text">{{ sleep }} <small>hours</small></div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6 text-center ">
            <div class="thumbnail dash_box dash_yellow">
                <div class="header">Steps</div>
                <div class="dash_text">{{ steps }}</div>
            </div>
        </div>
    </div>


{% endblock %}

{% block dash_search %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-6 col-xs-12">
            <div class="pull-right">
                <form class="form-inline" method="GET">
                    <input type="date" class="form-control" name="q_date" value="{{ q_date }}">
                    <button class="btn btn-primary" type="submit">Get</button>
                </form>
            </div>
        </div>
    </div>

{#  BOOTSTRAP 4 NOTE #}
{#    For Bootstrap 4, see: https://getbootstrap.com/docs/4.0/utilities/float/#responsive#}
{##}
{#    The pull-right command was removed and replaced with float-right or in general to float-{sm,md,lg,xl}-{left,right,none}#}
{##}

{% endblock %}

{% load static %}