{% extends "base_sd.html" %}
{% load static %}

{% block head_title %} Self Data || {{ block.super }}{% endblock %}

{% block content %}
    <h1><small>My</small> Week</h1>
    <h6>Your stats in a glance</h6>

    <div class="row">
        <div class="col-sm-6 text-center">
            {% if q_week is None %}
                <h3><strong>This week so far...</strong></h3>
            {% else %}
                <h3><strong>{{ week }}</strong></h3>
            {% endif %}
        </div>
    </div>

    {% include "snippets/dashboard_weekly.html" %}



{% endblock %}