{% extends "base_sd.html" %}
{% load static %}

{% block head_title %} Self Data || {{ block.super }}{% endblock %}

{% block content %}
    <h1><small>My</small> Dashboard</h1>
    <h6>Your stats in a glance</h6>

    <div class="row">
        <div class="col-sm-6 text-center">
            {% if q_date is None %}
                <h3><strong>Today</strong></h3>
            {% else %}
                <h3><strong>{{ q_date }}</strong></h3>
            {% endif %}
        </div>
    </div>

        <div class="row">
        <div class="col-sm-6 text-center">
            <div class="thumbnail">
                <p>Went to bed day before: {{ slept_time }}</p>
                <p>Started day with sleep of: {{ sleep }} hours</p>
                <p>Pomodoro: {{ pomodoro }}</p>
                <p>Weight: {{ weight }} kg</p>
                <p>Steps: {{ steps }}</p>
                <p>Mood: {{ mood }}</p>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="text-center">
                    <form class="form" method="GET">
                        <input type="date" name="q_date" value="{{ q_date }}">
                        <button class="btn" type="submit">Get</button>
                    </form>
                </div>
        </div>
    </div>

{#    <div class="row">#}
{#        <div class="col-sm-3" style="background-color:lavender;">.col-sm-3</div>#}
{#        <div class="col-sm-6" style="background-color:lavenderblush;">.col-sm-6</div>#}
{#        <div class="col-sm-3" style="background-color:lavender;">.col-sm-3</div>#}
{#    </div>#}

{% endblock %}