
<div class="row dash_row">
    <div class="col-sm-4 text-center ">
        <div class="thumbnail dash_box dash_red ">
            <div class="header">Pomodoro Per working day</div>
            <div class="dash_text"> {{ pomodoro_per }}</div>
        </div>
    </div>
    <div class="col-sm-4 text-center">
        <div class="thumbnail dash_box dash_red">
            <div class="header">Pomodoro Total</div>
            <div class="dash_text">{{ pomodoro_total }}</div>
        </div>
    </div>
    <div class="col-sm-4 text-center">
        <div class="thumbnail dash_box dash_purple">
            <div class="header">Mood</div>
            <div class="dash_text">{{ mood }}</div>
        </div>
    </div>
</div>

<div class="row dash_row">
    <div class="col-sm-4 text-center ">
        <div class="thumbnail dash_box dash_greenLight">
            <div class="header">Weight</div>
            <div class="dash_text">{{ weight }} kg</div>
        </div>
    </div>
    <div class="col-sm-4 text-center">
        <div class="thumbnail dash_box dash_orange">
            <div class="header">You slept per day</div>
            <div class="dash_text">{{ sleep }} hours</div>
        </div>
    </div>
    <div class="col-sm-4 text-center ">
        <div class="thumbnail dash_box dash_yellow">
            <div class="header">Steps</div>
            <div class="dash_text">{{ steps }}</div>
        </div>
    </div>
</div>


{#<div class="row">#}
{#    <div class="col-sm-6 text-center">#}
{#        <div class="thumbnail">#}
            {#                <p>You normally go to bed @: {{ slept_time }}</p>#}
{#            <p>You slept per day: {{ sleep }} hours</p>#}
{#            <p>Pomodoro Total: {{ pomodoro_total }}</p>#}
{#            <p>Pomodoro Per working day: {{ pomodoro_per }}</p>#}
{#            <p>Weight: {{ weight }} kg</p>#}
{#            <p>Steps: {{ steps }}</p>#}
{#            <p>Mood: {{ mood }}</p>#}
{#        </div>#}
{#    </div>#}
{#</div>#}