<ul class="nav nav-tabs">
    <li role="presentation" class=""><a href="{% url 'selfdata:dashboard' %}">A Day </a></li>
    <li role="presentation"><a href="{% url 'selfdata:dashboard_week' %}">A week </a></li>
    <li role="presentation"><a href="{% url 'selfdata:dashboard_week_2' %}">Week - Week </a></li>
    <li role="presentation"><a href="{% url 'selfdata:dashboard_month' %}">A Month </a></li>
    <li role="presentation"><a href="{% url 'selfdata:dashboard_month_2' %}">Month - Month </a></li>
</ul>