<div class="">
    <a href="{% url 'selfdata:main' %}">Main </a>

    <br>
    Dashboard:
    <a href="{% url 'selfdata:dashboard' %}">Today </a>||
    <a href="{% url 'selfdata:dashboard_week' %}">Last Week </a>|
    <a href="{% url 'selfdata:dashboard_week_2' %}">Last 2 Weeks </a>||
    <a href="{% url 'selfdata:dashboard_month' %}">Month </a>|
    <a href="{% url 'selfdata:dashboard_month_2' %}">Last 2 Months </a>|

    <br>
    Graphs:
    <a href="{% url 'selfdata:detail' slug='pomodoro'%}">Pomodoro </a>|
    <a href="{% url 'selfdata:detail' slug='weight'%}">Weight </a>|
    <a href="{% url 'selfdata:detail' slug='steps'%}">Steps </a>|
    <a href="{% url 'selfdata:detail' slug='mood'%}">Mood </a>|
    <a href="{% url 'selfdata:detail' slug='sleep'%}">Sleep </a>|
    <a href="{% url 'selfdata:detail' slug='weather'%}">Weather </a>
{#    {% if request.user.is_authenticated %}#}
{#    <a href="{% url 'restaurants:list' %}">Restaurants</a>#}
{#    <a href="{% url 'restaurants:create' %}">Add</a>#}
{#    <a href="{% url 'menus:list' %}">Menus</a>#}
{#    <a href="{% url 'menus:create' %}">Create Item</a>#}
{#    {% endif %}#}
</div>