<ul class="nav nav-tabs">
    <li role="presentation" class=""><a href="{% url 'selfdata:dashboard' %}">Today </a></li>
    <li role="presentation"><a href="{% url 'selfdata:dashboard_week' %}">This Week </a></li>
    <li role="presentation"><a href="{% url 'selfdata:dashboard_week_2' %}">Week - Week </a></li>
    <li role="presentation"><a href="{% url 'selfdata:dashboard_month' %}">This Month </a></li>
    <li role="presentation"><a href="{% url 'selfdata:dashboard_month_2' %}">Month - Month </a></li>
</ul>