<ul class="nav nav-tabs">
    <li role="presentation"><a href="{% url 'selfdata:dashboard' %}" class="link-color" style="color: #69ccc9 !important;">A Day </a></li>
    <li role="presentation"><a href="{% url 'selfdata:dashboard_week' %}" class="link-color">A week </a></li>
    <li role="presentation"><a href="{% url 'selfdata:dashboard_week_2' %}">Week - Week </a></li>
    <li role="presentation"><a href="{% url 'selfdata:dashboard_month' %}">A Month </a></li>
    <li role="presentation"><a href="{% url 'selfdata:dashboard_month_2' %}">Month - Month </a></li>
</ul>