<ul class="nav nav-tabs">
    <li role="presentation" class=""><a href="{% url 'selfdata:detail' slug='pomodoro'%}">Pomodoro </a></li>
    <li role="presentation"><a href="{% url 'selfdata:detail' slug='weight'%}">Weight </a></li>
    <li role="presentation"><a href="{% url 'selfdata:detail' slug='steps'%}">Steps </a></li>
    <li role="presentation"><a href="{% url 'selfdata:detail' slug='mood'%}">Mood </a></li>
    <li role="presentation"><a href="{% url 'selfdata:detail' slug='sleep'%}">Sleep </a></li>
    <li role="presentation"><a href="{% url 'selfdata:detail' slug='weather'%}">Weather </a></li>
</ul>